@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    string name = "JJ";
    int age = 30;
    string stopLight = "black";
    string grade = "A";
    List<string> favoriteFoods = new List<string>()
    {
      "pasta",
      "chicken",
      "noodles",
      "ribs"
    };

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Hey there! My Name is:</h1>
    <h1>@name</h1>
    <h1>I am @age years old </h1>
    <br />
    <h4 style="color:blue;">Results from your if statement:</h4>
    @if (stopLight == "green")
    {
        <h5>The stoplight is green, go!</h5>
    }
    else if (stopLight == "red")
    {
        <h5>The stoplight is red, stop!</h5>
    }
    else if (stopLight == "yellow")
    {
        <h5>The stoplight is yellow, slow down!</h5>
    }
    else
    {
        <h5>That stoplight doesn't exist!</h5>
    }

    <h3>Exam results</h3>

    @switch (grade)
    {
        case "A":
            <h4>Excellent job!</h4>
            break;
        case "B":
            <h4>Well done!</h4>
            break;
        case "C":
            <h4>Needs some work!</h4>
            break;
        case "D":
            <h4>You passed</h4>
            break;
        case "F":
            <h4>You failed, better try next time</h4>
            break;
        default:
            <h4>Invalid grade!</h4>
            break;
    }
    <br />

    <div class="text-center">
        <h1 class="display-5">Let's work with loops!</h1>
        <br>

        <h4>Results from your for loop:</h4>
        <ul>
            @for (int i = 0; i < favoriteFoods.Count; i++)
            {
                <li>@favoriteFoods[i]</li>
            }
        </ul>

        <br>
        <h4>Results from your foreach loop:</h4>
        <ul>
            @foreach (string food in @favoriteFoods)
            {
                <li> @food </li>
            }
        </ul>

        <br>
        <h4>Results from your while loop:</h4>
        <ul>
            @{
                int counter = 0;
            }
            @while (counter < @favoriteFoods.Count)
            {
                <li>@favoriteFoods[counter++]</li>
            }
        </ul>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
